pkgbase = parch-grub-light
	pkgdesc = Parchlinux grub theme
	pkgver = r2.73c76a8
	pkgrel = 1
	epoch = 2
	url = https://github.com/parchlinux/parch-grub-theme
	arch = any
	license = GPL-3
	makedepends = git
	depends = grub
	provides = parch-grub-theme
	conflicts = parch-grub-theme
	source = parch-grub-light::git+https://github.com/parchlinux/parch-grub-theme
	md5sums = SKIP

pkgname = parch-grub-light
	pkgdesc = Parchlinux grub theme -- Light
	install = parch-grub-light.install

pkgname = parch-grub-light
	pkgdesc = Parchlinux grub theme -- Light
	install = parch-grub-light.install
